.skills-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    button {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Palatino;
        font-size: 30px;
        border-radius: 20px;
    }
    button:hover {
        background: lightgray;
        transition-timing-function: ease-out;
        transition-duration: 200ms;
        border-radius: 10px;
    }
}
.skillSection {
    margin: 50px;
}