.language-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .language-button button {
    background-color: rgb(80, 80, 80);
    color: white;
    padding: 4px;
    padding-inline: 12px;
    margin: 4px;
    font-family: Palatino;
    font-size: 13px;
    border-radius: 20px;
    border: none;
  }
  