.underline {
    border-bottom: 2px solid red;
}

.home-intro {
    background-image: url('../assets/background2.jpg'); /* Adjust the path as necessary */
    background-color: white;
    background-size: cover; /* Scale the background image to be as large as possible */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: Fix the background relative to the viewport */
    background-position: center;
    height: auto; /* This ensures the background covers the whole viewport */
    width: 100%;
    line-height: 10px;

    h1 {
        font-family: 'Palatino';
        font-size: 120px;
        color: white;
        text-decoration: 'bold', 'underline';
    }

    h2 {
        font-family: 'Palatino';
        font-size: 50px;
        color: white;
        text-decoration: underline;
    }
}

.projects-page {
    background-image: url('../assets/background2.jpg'); /* Adjust the path as necessary */
    /*background-color: lightblue;*/
    background-size: cover;
    background-position: center;
    height: 100vh; /* This ensures the background covers the whole viewport */
    width: 100%;
    transition: ease-in;
    overflow-x: hidden;

    p {
        font-size: 25px;
    }

    h2 {
        color: white;
        font-family: Palatino;
        font-size: 40px;
    }

    h4 {
        color: white;
        font-family: Palatino;
        font-size: 30px;
        width: 60%;
    }
}

h1 {
    font-family: 'Palatino';
    font-size: 70px;
    color: white;
}

h3 {
    font-family: 'Palatino';
    font-size: 40px;
    color: white;
}

p {
    font-family: 'Palatino';
    font-size: 18px;
    color: white;
}