.NavBar {
    width: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(128, 128, 128, 0.6);
    border-radius: 45px;
}

.NavBar ul {
    display: flex;
    list-style: none;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    width: 100%;
    justify-content: center;
}

.NavBar button {    
    color: white;
    padding: 8px 15px;
    border: none;
    background: black;
    font-family: Palatino;
    font-size: 25px;
    border-radius: 10px;
    margin: 0 10px;
}

.NavBar button:hover {
    background: gray;
    transition: ease-out 200ms;
    border-radius: 5px;
}
