.Footer {
    display: flex;
}

.Footer-Left {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    
    img {
        margin-right: 5px;
        flex-direction: inline;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
        transition: transform 250ms;
    }

    img:hover {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
        transform: scale(1.1);
    }
    
    h1 {
        margin-bottom: 0px;
        font-size: 35px;
    }
    h4 {
        font-size: 20px;
        font-family: 'Palatino'
    }
}
.Footer-Right {
    width: 50%;
    display: flex;
    margin-top: 40px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: flex-end; 
    flex-direction: column;
    
    img {
        margin-right: 5px;
        flex-direction: inline;
    }
    
    h1 {
        margin-bottom: 0px;
        font-size: 35px;
    }
}

.Footer-Data-Container {
    display: flex;
    flex-direction: inline; /* This makes the items inside inline */
    justify-content: center; /* Adjusts the alignment as needed */
    flex-wrap: wrap; /* Allows items to wrap to the next line if the container is too narrow */
    width: 100%; /* Ensures the container takes the full width */
}

.Footer-Boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
    img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }

    h4 {
        color: white;
        font-size: 10px;
    }
}