/* Footer.css */
.Footer {
    display: flex;
}

.Footer-Left {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center; 
    flex-direction: column;
    
    img {
        margin-right: 5px;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5)); /* Safari */
        transition: transform 250ms;
    }

    img:hover {
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
        -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5)); /* Safari */
        transform: scale(1.1);
    }
    
    h1 {
        margin-bottom: 0px;
        font-size: 35px;
    }
    h4 {
        font-size: 20px;
        font-family: 'Palatino';
        width: 100%;
    }
}

.Footer-Right {
    width: 50%;
    display: flex;
    margin-top: 40px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: flex-end; 
    flex-direction: column;
    
    img {
        margin-right: 5px;
    }
    
    h1 {
        margin-bottom: 0px;
        font-size: 35px;
    }
}

.Footer-Data-Container {
    display: flex;
    flex-direction: row; /* Changed to row */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.Footer-Boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
    img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    h4 {
        color: white;
        font-size: 10px;
    }
}
